.cursor-pointer {
  cursor: pointer;
}

.fixed-content {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 80%;
  overflow-y: auto;
}

.userposts-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(145deg, #f0f0f0 0%, #d4d4d4 100%);
} 

.header-container {
  display: flex;
  width: 90%;
  max-width: 1250px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.search-field {
  background-color: white;
  align-items: center;
}

.v-skeleton-loader {
  border-radius: 4px;
}

.v-skeleton-loader__avatar {
  border-radius: 50%;
}